<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Оборудование</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<wrapper class="w-75">
    <th:block th:insert="~{/ui/layouts/header.html::headerLayout()}"></th:block>
    <main>
        <div class="b-example-divider">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
                    <th:block th:each="item : ${items}">
                        <div class="card" style="width: 18rem;">
                            <img th:src="@{'/img/shop/' + ${item.brand} + '/' + ${item.model} + '.png'}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" >[[*{item.model}]]</h5>
                                <h1 class="card-title pricing-card-title">[[*{item.price}]]<small class="text-body-secondary fw-light">/день</small></h1>
                                <p class="card-text">Доступно: [[*{item.stock}]]<small class="text-body-secondary fw-light"> шт</small></p>
                                <button sec:authorize="isAuthenticated()" type="button" class="w-100 btn btn-lg btn-outline-primary add-to-cart-button" th:data-item-id="${item.id}">To cart</button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </main>
</wrapper>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/searchResults.js"></script>
</body>
</html>
